.selection-popup-container {
  position: absolute;
  min-width: 140px;
  color: #eee !important;
  background-color: #555;
  box-shadow: 0 0 5px #000, 0 0 1px 1px #000;
  z-index: 999999 !important;
  user-select: none;
  font-size: 14px;
}

.selection-popup-container ul {
  margin: 0;
  padding: 0;
}

.selection-popup-container ul li {
  margin: 0;
  padding: 0;
  background-color: #555;
  color: #fff;
  padding: 2px 8px;
  list-style: none;
}

.selection-popup-container ul li:hover {
  background-color: #444;
}

.selection-popup-container ul li:active {
  background-color: #666;
}

.selection-popup-container hr {
  margin: 0 !important;
}

.selection-popup-container hr:last-of-type {
  display: none !important;
}
