div.__selection-popup-container__ {
  position: absolute !important;
  z-index: 999999 !important;
}

div.__selection-popup-container__ > ul {
  margin: 0 !important;
  padding: 0 !important;
  user-select: none !important;
  border: 1px solid #444 !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 1) !important;
  border-radius: 2px !important;
}

div.__selection-popup-container__ > ul > li {
  display: block;
  margin: 0 !important;
  padding: 0 7px !important;
  background-color: #555 !important;
  color: #fff !important;
  width: 160px !important;
  list-style: none !important;
  font-size: 14px !important;
  line-height: 32px !important;
  letter-spacing: 1px !important;
  font-family: Calibri, 'Trebuchet MS', sans-serif !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  transition: all 0.25s ease-out !important;
}

div.__selection-popup-container__ > ul > li:hover {
  background-color: #666 !important;
}

div.__selection-popup-container__ > ul > li:active {
  background-color: #444 !important;
}

div.__selection-popup-container__ > ul.single-liner {
  height: 34px !important;
}

div.__selection-popup-container__ > ul.single-liner > li {
  text-align: center;
  display: inline-block !important;
  width: 74px !important;
  border-right: 1px solid #555 !important;
}

div.__selection-popup-container__ > ul.single-liner > li:nth-of-type(1) {
  border-right: 1px solid #444 !important;
}

div.__selection-popup-container__
  > ul:not(.single-liner)
  > li:not(:first-of-type) {
  border-top: 1px solid #444 !important;
}
