.selection-popup-container {
  position: absolute !important;
  min-width: 140px !important;
  color: #eee !important;
  background-color: #555 !important;
  box-shadow: 0 0 5px #000, 0 0 1px 1px #000 !important;
  z-index: 999999 !important;
  user-select: none !important;
}

.selection-popup-container ul {
  margin: 0 !important;
  padding: 0 !important;
}

.selection-popup-container ul li {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #555 !important;
  color: #fff !important;
  padding: 3px 8px !important;
  list-style: none !important;
  font-size: 14px !important;
}

.selection-popup-container ul li:hover {
  background-color: #444 !important;
}

.selection-popup-container ul li:active {
  background-color: #666 !important;
}

.selection-popup-container hr {
  background: #777 !important;
  margin: 0 !important;
  display: block !important;
}

.selection-popup-container hr:last-of-type {
  display: none !important;
}
